.App {
  text-align: center;
}


a{
  color: inherit;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(94, 94, 111);
  color: white;
}

.nav-links{
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}